

<%= form_with(model: artist, local: true, class: "field") do |f| %>

<div class="field">
  <p >
    <%= f.label :Fill_out %>
    <%= f.text_field :first_name, required: true, placeholder: "First Name", class: "input" %>
    <%= f.text_field :last_name, required: true, placeholder: "Last Name", class: "input" %>
    
    <%= f.text_field :genre, required: true, placeholder: "Country, Rock, Classical", class: "input" %>
   
  </p>
</div>
<%= f.submit nil, class: "ui button green" %>
<% end %>

</div>
