<div class = "container">

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Artists
      </h1>
      <h2 class="subtitle">
        <hr />
      </h2>
    </div>
  </div>
</section>

<%@artists.each do |a|%>
<h3 class = "suatitle"><strong><%=a.full_name%></strong></h3>
<div class = "button-div" style = "display:flex;">

<%=link_to "Show", artist_path(a)%> |



<%=link_to "Edit", edit_artist_path(a)%> |


<%=link_to "Delete", artist_path(a), method: :delete%>

</div>
<hr />
<br />
<%end%>


<%= link_to "Billboards", billboards_path, class: "button"%>

<%= link_to "New Artist", new_artist_path, class: "button"%>

</div>
