<h1 style = "text-align:center; font-size:50px;"><%=@artist.full_name%></h1>
<h2 style = "text-align:center; font-size:30px;">
<%=@artist.genre%>
</h2>

<% @artist.songs.each do |song| %>
  <%= render '/songs/song', { song: song } %>

  
<% end %>

<div class = "button-div" style = "display:flex; justify-content:center;">
<button class = "button">
<%= link_to "Back", artists_path%>
</button>

</button>
<%= link_to 'Add Song', new_artist_song_path(@artist), class: "button is-priority" %>

<br />
</div>


