<div class = "container">

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Billboards
      </h1>
      <h2 class="subtitle">
        <hr />
      </h2>
    </div>
  </div>
</section>

<%@billboards.each do |b|%>
<h3 class = "subtitle"><%=b.name%></h3>
<div class = "button-div" style = "display:flex;">

<%=link_to "Show", billboard_path(b)%> |



<%=link_to "Edit", edit_billboard_path(b)%> |


<%=link_to "Delete", billboard_path(b), method: :delete%>

</div>
<%end%>




<%= link_to "New Billboard", new_billboard_path, class: "button"%>

</div>
